* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow: visible;
}

.AboutUs {
  display: grid;
  grid-template-columns:1fr 1fr 1fr ;

  /* margin: auto; */
  gap: 20px;

  height: 100vh;
  padding: 10px;
}

.club {
  background: linear-gradient(t);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.4rem;
  border-radius: 15px 50px;
  overflow: hidden;
  border: 2px inset rgb(67, 64, 64);
  transition-duration: 500ms;
  box-shadow: 8px 8px 33px black;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #78cdac);
  margin-top: 4px;
}
.club:hover {
  background-color: #78cdac;
}
button {
    padding:8px;
  color: black;
  font-size: 12px;
  border-radius: 15px;
  margin:5px 0;
}
button:hover {
  cursor: pointer;
  background-color: #000000;
  color: white;
 
}
.club1 {
  margin-top: 4px;
}
h1 {
  margin-bottom: 5px;
  margin-top: 1px;
  
  /* font-family: Georgia, "Times New Roman", Times, serif; */
}
p{
    color:rgb(58, 55, 55);
    
}
 /* Styling the body */
 nav {
  position: fixed;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vw 8vw;
  align-items: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  padding-top: 1px;
  padding-bottom: 1px;
  z-index: 999;
}
nav img {
  width: 150px;
  cursor: pointer;
}
#menu-btn{
    width: 30px;
    height: 30px;
    display: none;

}
#menu-close{
    display: none;
}
nav .navigation{
    display: flex;
}
nav .navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .navigation ul li {
  list-style: none;
  margin-left: 30px;
}
nav .navigation ul li a {
  text-decoration: none;
  color: rgb(21, 21, 100);
  font-size: 16px;
  font-weight: 500;
  transition: 0.3 ease;
}
nav .navigation ul li a:hover {
  color: #fdc938;
}
      body {
          margin: 0;
          padding: 0;
      }
        
      /* Styling section, giving background
          image and dimensions */
      section {
          width: 100%;
          height: 100vh;
      }
        
      /* Styling the left floating section */
      section .leftBox {
          width: 50%;
          height: 100%;
          float: left;
          padding: 50px;
          box-sizing: border-box;
      }
        
      /* Styling the background of
          left floating section */
      section .leftBox .content {
          color: #fff;
          background: rgba(0, 0, 0, 0.5);
          padding: 40px;
          transition: .5s;
      }
        
      /* Styling the hover effect 
          of left floating section */
      section .leftBox .content:hover {
          background: #e91e63;
      }
        
      /* Styling the header of left
          floating section */
      section .leftBox .content h1 {
          margin: 0;
          padding: 0;
          font-size: 50px;
          text-transform: uppercase;
      }
        
      /* Styling the paragraph of
          left floating section */
      section .leftBox .content p {
          margin: 10px 0 0;
          padding: 0;
      }
        
      /* Styling the three events section */
      section .events {
          position: relative;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
          float: right;
          box-sizing: border-box;
          display: flex;
      }
        
      /* Styling the links of
      the events section */
      section .events ul {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          margin: 0;
          padding: 40px;
          box-sizing: border-box;
      }
        
      /* Styling the lists of the event section */
      section .events ul li {
          list-style: none;
          background: #fff;
          box-sizing: border-box;
          height: auto;
          margin: 15px ;
      }
        
      /* Styling the time class of events section */
      section .events ul li .time {
          position: relative;
          padding: 20px;
          background: #262626;
          box-sizing: border-box;
          width: 30%;
          height: 100%;
          float: left;
          text-align: center;
          transition: .5s;
      }
        
      /* Styling the hover effect
          of events section */
      section .events ul li:hover .time {
          background: #e91e63;
      }
        
      /* Styling the header of time
          class of events section */
      section .events ul li .time h2 {
          position: relative;
          margin: 0;
          padding: 0;
          padding-top: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #fff;
          font-size: 60px;
          line-height: 30px;
          height: auto;
          display: block;
      }
        
      /* Styling the texts of time
      class of events section */
      section .events ul li .time h2 span {
          font-size: 30px;
      }
        
      /* Styling the details
      class of events section */
      section .events ul li .details {
          padding: 20px;
          background: #fff;
          box-sizing: border-box;
          width: 70%;
          height: 100%;
          float: left;
      }
        
      /* Styling the header of the
      details class of events section */
      section .events ul li .details h3 {
          position: relative;
          margin: 0;
          padding: 0;
          font-size: 22px;
      }
        
      /* Styling the lists of details
      class of events section */
      section .events ul li .details p {
          position: relative;
          margin: 10px 0 0;
          padding: 0;
          font-size: 16px;
      }
        
      /* Styling the links of details
      class of events section */
      section .events ul li .details a {
          display: inline-block;
          text-decoration: none;
          padding: 10px 15px;
          border: 1.5px solid #262626;
          margin-top: 8px;
          font-size: 18px;
          transition: .5s;
      }
        
      /* Styling the details class's hover effect */
      section .events ul li .details a:hover {
          background: #e91e63;
          color: #fff;
          border-color: #e91e63;
      }